.priority-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.priority-bottom p {
  margin: 0;
  font-family: monospace;
  font-size: 0.9rem;
}

.priority-bottom button {
  width: 32px;
  height: 32px;
  border: 2px solid #7dd3fc;
  background: #0f172a;
  color: white;
  font-family: monospace;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 3px 3px 0 #020617;
}

.priority-bottom button:hover {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px 0 #020617;
}